*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #8184b6, #8f94fb);
}

.container{
    background: rgb(177, 146, 146);
    padding: 30px;
    width: 350px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

h2{
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.input-box input{
    width: 100%;
    padding: 12px;
    border: 2px solid #7a6b6b;
    border-radius: 8px;
    outline: none;
    font-size: 16px;
}

.input-box input:focus{
    border-color: #4e54c8;
}

.message{
    margin-top: 15px;
    font-weight: bold;
    text-align: center;
}

.weak{
    color: red;
}

.medium{
    color: orange;
}

.strong{
    color: green;
}

ul{
    margin-top: 20px;
    padding-left: 20px;
}

ul li{
    margin-bottom: 8px;
    color: #555;
}